* {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    background-image: linear-gradient(rgb(194, 194, 194), white, rgb(194, 194, 194));
    background-attachment: fixed;
}

#semaphore {
    width: 250px;
    height: 500px;
    border-radius: 20% 20% 20% 20%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset -20px -20px 30px 10px rgb(80, 80, 80);
}

#semaphore-shadow {
    width: 250px;
    height: 500px;
    border-radius: 20% 20% 20% 20%;
    box-shadow: 10px 10px rgb(66, 66, 66);
}

#led {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#green {
    width: 110px;
    height: 110px;
    background-color: darkgreen;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: inset 3px 3px black;
}

#yellow {
    width: 110px;
    height: 110px;
    background-color: darkgoldenrod;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: inset 3px 3px black;
}

#red {
    width: 110px;
    height: 110px;
    background-color: darkred;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: inset 3px 3px black;
}

#light-g {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0px 0px 0px 0px black;
}

#light-y {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0px 0px 0px 0px black;
}

#light-r {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0px 0px 0px 0px black;
}

.title {
    margin:30px;
    font-size: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#b-green {
    margin: 20px;
    width: 80px;
    height: 25px;
    background-image: linear-gradient(rgb(219, 219, 219), white, rgb(219, 219, 219));
    border: outset 2px gray;
}

#b-yellow {
    margin: 20px;
    width: 80px;
    height: 25px;
    background-image: linear-gradient(rgb(219, 219, 219), white, rgb(219, 219, 219));
    border: outset 2px gray;
}

#b-red {
    margin: 20px;
    width: 80px;
    height: 25px;
    background-image: linear-gradient(rgb(219, 219, 219), white, rgb(219, 219, 219));
    border: outset 2px gray;
}

#auto {
    margin: 20px;
    width: 80px;
    height: 25px;
    background-image: linear-gradient(rgb(219, 219, 219), white, rgb(219, 219, 219));
    border: outset 2px gray;
}